<a href="https://colab.research.google.com/github/JulianaAiolfi/7DaysOfCode_CienciasDeDados/blob/main/Notebook/Explorando_ceaps_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Explorando dados Ceaps ano de 2019

##Limpeza e formatacao dos dados e salvando um novo csv

In [165]:
import pandas as pd

In [166]:
#Leitura DataFrame

dados = pd.read_csv('despesa_ceaps_2019.csv',encoding='latin1', delimiter=';',skiprows=1)

Vamos visualizar as cinco primeiras linhas e cinco últimas linhas do DataFrame

In [167]:
#As cinco primeiras linhas dos DataFrame

dados.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,"66,02",2116543
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,"139,98",2116546
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000,2113817
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,86161151,25/12/2018,Despesa com pagamento de telefonia para o escr...,"316,39",2116541
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,007236036,04/02/2019,Despesa com pagamento de energia elétrica para...,"99,45",2116550

In [168]:
#As cinco últimas linhas dos DataFrame

dados.tail()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
21629,2019,1,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,Azul,O954UL,19/01/2019,"Companhia Aérea: AZUL, Localizador: O954UL. Pa...","769,29",2113825
21630,2019,1,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,Azul,G9Z36V,24/01/2019,"Companhia Aérea: AZUL, Localizador: G9Z36V. Pa...","310,62",2113828
21631,2019,1,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",07.575.651/0001-59,GOL,WNQI4A,29/01/2019,"Companhia Aérea: GOL, Localizador: WNQI4A. Pas...","1168,1",2114101
21632,2019,1,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,NCCPIM,23/01/2019,"Companhia Aérea: LATAM, Localizador: NCCPIM. P...","772,05",2113826
21633,2019,1,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,MEYLWB,26/01/2019,"Companhia Aérea: LATAM, Localizador: MEYLWB. P...","1755,17",2113830

In [169]:
#Informacoes sobre o DataFrame Dtype

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21634 entries, 0 to 21633
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                21634 non-null  int64
 1   MES                21634 non-null  int64
 2   SENADOR            21634 non-null  object
 3   TIPO_DESPESA       21634 non-null  object
 4   CNPJ_CPF           21634 non-null  object
 5   FORNECEDOR         21634 non-null  object
 6   DOCUMENTO          20900 non-null  object
 7   DATA               21634 non-null  object
 8   DETALHAMENTO       13092 non-null  object
 9   VALOR_REEMBOLSADO  21634 non-null  object
 10  COD_DOCUMENTO      21634 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.8+ MB

Verificando os dados básicos estatísticos, podemos verificar que a coluna cod_documento esta com valores cientificos. A mesma nao deveria aparecer precisa ser alterada para objeto

In [170]:
#Verificando dados básicos estatísticos

dados.describe()

           ANO           MES  COD_DOCUMENTO
count  21634.0  21634.000000   2.163400e+04
mean    2019.0      6.713368   2.126811e+06
std        0.0      3.266507   7.369180e+03
min     2019.0      1.000000   2.112846e+06
25%     2019.0      4.000000   2.120632e+06
50%     2019.0      7.000000   2.126954e+06
75%     2019.0     10.000000   2.133128e+06
max     2019.0     12.000000   2.143135e+06

Na terceira linha do DataFrame temos um dado referente a 2018, como estamos tratando somente 2019 precisamos excluir essa informacao

In [171]:
#Excluindo a terceira linha com a informacao de 2018

dados = dados.drop(3)

A colunas 'Valor_reembolso' esta sendo formatada, alterando de (,) para (.) e o tipo da coluna de str para inteiro

A coluna Cod_documento formatamos de inteiro para objeto

In [172]:
#Formatando a coluna de valor_reembolso em inteiro e , para .

dados['VALOR_REEMBOLSADO'] = dados['VALOR_REEMBOLSADO'].str.replace(',', '.')
dados['VALOR_REEMBOLSADO'] = pd.to_numeric(dados['VALOR_REEMBOLSADO'])
dados['VALOR_REEMBOLSADO'] = dados['VALOR_REEMBOLSADO'].astype(int)

#Alterando a coluna cod_documento de inteiro para objeto

dados['COD_DOCUMENTO'] = dados['COD_DOCUMENTO'].astype(object)

In [173]:
#Formatando a coluna de data em datetime, deixando datas invalidas como nulas

dados['DATA'] = pd.to_datetime(dados['DATA'], errors='coerce')

In [174]:
#Visualizando as informacoes da coluna tipo_despesa

dados['TIPO_DESPESA'].unique()

array(['Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.',
       'Divulgação da atividade parlamentar',
       'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ',
       'Passagens aéreas, aquáticas e terrestres nacionais',
       'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar',
       'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes',
       'Serviços de Segurança Privada'], dtype=object)

In [175]:
#Alterando as informacoes para valores objetivos

dados['TIPO_DESPESA'] = dados['TIPO_DESPESA'].map({'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.': 'Aluguel',
                                             'Divulgação da atividade parlamentar': 'Divulgação',
                                             'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ': 'Despesas gerais',
                                             'Passagens aéreas, aquáticas e terrestres nacionais': 'Passagens',
                                             'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar': 'Contratações',
                                             'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes': 'Locomoção, hospedagem e alimentação',
                                             'Serviços de Segurança Privada': 'Segurança'})

In [176]:
#Visualizando os tipos alterado

dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21633 entries, 0 to 21633
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                21633 non-null  int64
 1   MES                21633 non-null  int64
 2   SENADOR            21633 non-null  object
 3   TIPO_DESPESA       21633 non-null  object
 4   CNPJ_CPF           21633 non-null  object
 5   FORNECEDOR         21633 non-null  object
 6   DOCUMENTO          20899 non-null  object
 7   DATA               21632 non-null  datetime64[ns]
 8   DETALHAMENTO       13091 non-null  object
 9   VALOR_REEMBOLSADO  21633 non-null  int64
 10  COD_DOCUMENTO      21633 non-null  object
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 2.0+ MB

In [177]:
#Dados estatísticos, com valor_reembolso 

dados.describe()

           ANO           MES  VALOR_REEMBOLSADO
count  21633.0  21633.000000       21633.000000
mean    2019.0      6.713632        1166.769103
std        0.0      3.266352        2707.902277
min     2019.0      1.000000           0.000000
25%     2019.0      4.000000         124.000000
50%     2019.0      7.000000         346.000000
75%     2019.0     10.000000        1330.000000
max     2019.0     12.000000       79200.000000

In [178]:
#Salvando um novo dataset com as informacoes alteradas

dados.to_csv('dados_limpos_ceaps_2019.csv', index=False)